<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="assets/imagens/logo.ico" type="image/x-icon">
</head>
<body>

    <header >
            <nav id="nav">
                <img src="assets/imagens/logo.ico" id="img_logo">
                    <div id="menu">
                        <h2 class="center">Acervo Digital</h2>
                        <div id="menu_button">
                        <button class="button_menu"><a href="index.html">Home</a></button>
                        <button class="button_menu"><a href="#">Cadastro</a></button>
                        <button class="button_menu"><a href="#">Cadastrar PI</a></button>
                        <button class="button_menu"><a href="#">Login</a></button>
                        <button class="button_menu"><a href="#">Sair</a></button>
                        </div>
                    </div>
            </nav>
    </header>

    <div class="conteiner">
        <div class="bgWhite">
            
            <form class="forms" action="#" method="POST">
                <img src="assets/imagens/img_login.png">
                <h2><strong>REGISTRE-SE</strong></h2>
                <input class="inputImc" type="text" name="nome" placeholder="Nome" required>
                <input class="inputImc" type="text" name="email" placeholder="E-mail" required>
                <input class="inputImc" type="text" name="telefone" placeholder="Telefone" required>
                <input class="inputImc" type="text" name="login" placeholder="Login" required>
                <input class="inputImc" type="password" name="senha" placeholder="Senha" required>
                <button class="btnCalcular" type="submit">Concluir</button>
            </form>
        </div>
    </div>

</body>
</html>