* {
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;

}

.titulo {

    color: #0C2856;
    font-size: 70px;
    height: 20px;
    display: flex;
    text-align: center;
    margin-top: 10px;
}

.descricao {

    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    color: #0C2856;
    position: center;
}

.link {
    text-decoration: none;
    font-size: 12px;
    color: #0C2856;
    text-align: left;
    display: flex;
    margin-left: 30%;
    font-family: Arial, Helvetica, sans-serif;
   
}

.img{
    position: relative;
    left: 30%;

}

.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.p{
    color: #0C2856;
    font-size: 13px;
    display: flex;
    margin: left ;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 250px;
    gap: 10px;
    margin-top: 10px;

    display: flex;
    padding: 10px;
    border:  solid 0.5px #0C2856;
    margin-top: 15px;
}

.caixa {
    margin: 30px;
    max-width: 80%;
}

.button {
    width: 100px;
    color: #fff;
    background-color: #0C2856;;
    border-radius: 70px;
    margin-left: 25%;
    
    
}

.botao {
    position: relative;
    left: 4%;
}

.box-content {
    display: flex;
   justify-content: center;
}

.descricao .img {
    margin: auto;
    align-items: center;
}

