* {
    margin: 0%;
    padding: 0%;
}      

.titulo_esq {
  
    color: #0C2856;
    font-size: 60px;
    text-align: center;
    margin-top: 10px;
    left: 100%;
}

.class{
    color: #0C2856;
}

.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    justify-content: center;
    text-align: center;

}

.link {
    text-decoration: none;
    font-size: 12px;
    color: #0C2856;
    text-align: left;
    display: flex;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.input-group {
    width: 350px;
    /* gap: px; */
    margin-top: 10px;
    /* display: flex; */
    padding: 25px;
    /* border:  solid 0.5px rgb(0, 28, 243); */
    margin-top: 30px;
}

.input-group-addon {
    /* margin: 30px; */
    /* max-width: 80%; */
    align-items: center;
    
}

.p {
    font-family:Arial, Helvetica, sans-serif;
    color: #0C2856;
    position:relative;
    width: 300px;
    text-align: center;
    left: 10%;

}

.button {
    width: 100px;
    color: #fff;
    background-color: #0C2856;
    border-radius: 50px;
    position: relative;
    /* left: 30%; */
}

.link {
    position: relative;
    left: 39%;
}

.glyphicon {

    color: #0C2856;
}

input {

    color: #0C2856;

}