/* Estilo geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: rgb(221, 228, 245);;
    width: 100%;
    height: 100%;
    font-size: 16px;
}

header{
    background-color: #0C2856;
    width: 100%;
}

footer{
  background-color: #0C2856;
}

.navbar-color-default li a{
    text-decoration: none;
    color: white; /* Cor dos links padrão */
    font-size: 16px;
    padding: 8px 12px; /* Mantém o padding para espaçamento */
    border-radius: 5px; /* Mantém as bordas arredondadas (se desejar) */
    transition: color 0.3s ease; /* Transição suave apenas para a cor do texto */
}

.navbar-color-default li a:hover{
    color: #777; /* Tom de cinza mais claro ao passar o mouse */
}

#limparFiltros {
    background-color: #f0f0f0; /* Um cinza claro para o fundo do botão */
    color: #343a40; /* Um tom de cinza escuro para o texto, similar aos outros elementos */
}

#limparFiltros:hover {
    background-color: #e0e0e0; /* Um tom mais claro no hover */
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.6;
}


.btn-custom {
  background-color: #0C2856;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 0.375rem 0.75rem;
  text-decoration: none;
}

.btn-custom:hover {
  background-color: #163b7a;
  color: #fff;
}

.btn-custom-like{
    background-color: #0C2856;
    color: #fff;
}

.btn-filtros {
  background-color: #e0e0e0;
  color: #333;
  border: 1px solid #ccc;
}

.btn-filtros:hover {
  background-color: #d5d5d5;
}

footer.footer {
  background-color: #0C2856;
  color: #fff;
}